body {
	background: #504e51;
}
#page-wrapper {
	width: 900px;
	margin: 0 auto;
}
.logo {
	display: block;
    width: 260px;
    height: 170px;
    float: left;
}
.phone {
	display: block;
    width: 640px;
    height: 170px;
    float: left;
}
#menu-nav {
	display: block;
	list-style-type: none;
	margin: -10px;
	padding: 0;
}
li {
	display: inline-block;
	list-style-type: none;
	margin: 0
	padding: 0;
	width: 119px;
	text-transform: uppercase;
	font-weight: bold;
}
span {
	color: white;
}